<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./csspr/pr1.css">
</head>
<body>

<div id="w5" class="card shadow mb-2"><div class="card-body"><a id="w3" class="btn btn-primary mb-2" href="/time-table/print?serviceId=group" target="_blank"><i class="fas fa-print"></i> </a><div id="time-tablew4"><div class="table-container"><table class="table lesson-color-block" id="timeTable"><tbody><tr><th class="headday">Пн</th><th class="headdate"><div>11.12.2023</div></th><th class="headdate"><div>18.12.2023</div></th><th class="headdate"><div>25.12.2023</div></th><th class="headdate"><div>01.01.2024</div></th><th class="headdate"><div>08.01.2024</div></th></tr><tr>                    <th class="headcol">
    <span class="lesson">2 пара</span>
    <span class="start">09:45</span>
    <span class="end">11:20</span>
</th><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td><td><div class="cell"><div class="lesson-1 ">

<div data-toggle="popover" title="" data-content="Діагностика та тестування мережної інфраструктури[Лк]<br>ауд. Дистанц.<br>КІД-41<br>Шрам Максим Миколайович<br>Додано:  20.10.2023" data-original-title="18.12.2023 2 пара" aria-describedby="popover228163">
ДТМІ-2018<strong>[Лк]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Шрам М.М.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell"><div class="lesson-5 ">

<div data-toggle="popover" title="" data-content="Хмарні технології[Экз]<br>ауд. 207К<br>КІД-41<br>Шикула Олена Миколаївна<br>Додано:  04.12.2023" data-original-title="08.01.2024 2 пара">
ХТ-15<strong>[Экз]</strong><br>
<strong>ауд. 207К</strong><br>
<i>Шикула О.М.</i>
</div>
</div></div></td></tr><tr>                    <th class="headcol">
    <span class="lesson">3 пара</span>
    <span class="start">11:45</span>
    <span class="end">13:20</span>
</th><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td><td><div class="cell"><div class="lesson-1 ">

<div data-toggle="popover" title="" data-content="Засади відкриття власного бізнесу[Лк]<br>ауд. 323К<br>КІД-41<br>Чатченко Ольга Євгеніївна<br>Додано:  14.09.2023" data-original-title="18.12.2023 3 пара">
ЗВВБ-2017<strong>[Лк]</strong><br>
<strong>ауд. 323К</strong><br>
<i>Чатченко О.Є.</i>
</div>
</div></div></td><td><div class="cell"><div class="lesson-1 ">

<div data-toggle="popover" title="" data-content="Паралельні та розподілені обчислення[Лк]<br>ауд. 217-З<br>КІД-41<br>Торошанко Ярослав Іванович<br>Додано:  15.09.2023" data-original-title="25.12.2023 3 пара">
ПРО-2017<strong>[Лк]</strong><br>
<strong>ауд. 217-З</strong><br>
<i>Торошанко Я.І.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td></tr><tr>                    <th class="headcol">
    <span class="lesson">4 пара</span>
    <span class="start">13:30</span>
    <span class="end">15:05</span>
</th><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td><td><div class="cell"><div class="lesson-1 ">

<div data-toggle="popover" title="" data-content="Хмарні технології[Лк]<br>ауд. 217-З<br>КІД-41<br>Шикула Олена Миколаївна<br>Додано:  15.09.2023" data-original-title="18.12.2023 4 пара">
ХТ-15<strong>[Лк]</strong><br>
<strong>ауд. 217-З</strong><br>
<i>Шикула О.М.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td></tr><tr>                    <th class="headcol">
    <span class="lesson">5 пара</span>
    <span class="start">15:15</span>
    <span class="end">16:50</span>
</th><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td><td><div class="cell"><div class="lesson-1 ">

<div data-toggle="popover" title="" data-content="Паралельні та розподілені обчислення[Лк]<br>ауд. 217-З<br>КІД-41<br>Торошанко Ярослав Іванович<br>Додано:  15.09.2023" data-original-title="18.12.2023 5 пара">
ПРО-2017<strong>[Лк]</strong><br>
<strong>ауд. 217-З</strong><br>
<i>Торошанко Я.І.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td></tr><tr><th class="headday">Вт</th><th class="headdate"><div>12.12.2023</div></th><th class="headdate"><div>19.12.2023</div></th><th class="headdate"><div>26.12.2023</div></th><th class="headdate"><div>02.01.2024</div></th><th class="headdate"><div>09.01.2024</div></th></tr><tr>                    <th class="headcol">
    <span class="lesson">3 пара</span>
    <span class="start">11:45</span>
    <span class="end">13:20</span>
</th><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td><td><div class="cell"><div class="lesson-2 ">

<div data-toggle="popover" title="" data-content="Діагностика та тестування мережної інфраструктури[Пз]<br>ауд. Дистанц.<br>КІД-41<br>Шрам Максим Миколайович<br>Додано:  23.10.2023" data-original-title="19.12.2023 3 пара">
ДТМІ-2018<strong>[Пз]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Шрам М.М.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td></tr><tr>                    <th class="headcol">
    <span class="lesson">4 пара</span>
    <span class="start">13:30</span>
    <span class="end">15:05</span>
</th><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td></tr><tr>                    <th class="headcol">
    <span class="lesson">5 пара</span>
    <span class="start">15:15</span>
    <span class="end">16:50</span>
</th><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td><td><div class="cell">&nbsp;</div></td><td><div class="cell"><div class="lesson-6 ">

<div data-toggle="popover" title="" data-content="Паралельні та розподілені обчислення[Зач]<br>ауд. Дистанц.<br>КІД-41<br>Торошанко Ярослав Іванович<br>Додано:  04.12.2023" data-original-title="26.12.2023 5 пара">
ПРО-2017<strong>[Зач]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Торошанко Я.І.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td></tr><tr><th class="headday">Ср</th><th class="headdate"><div>13.12.2023</div></th><th class="headdate"><div>20.12.2023</div></th><th class="headdate"><div>27.12.2023</div></th><th class="headdate"><div>03.01.2024</div></th><th class="headdate"><div>10.01.2024</div></th></tr><tr>                    <th class="headcol">
    <span class="lesson">4 пара</span>
    <span class="start">13:30</span>
    <span class="end">15:05</span>
</th><td><div class="cell"><div class="lesson-2 ">

<div data-toggle="popover" title="" data-content="Засади відкриття власного бізнесу[Пз]<br>ауд. Дистанц.<br>КІД-41<br>Чатченко Ольга Євгеніївна<br>Додано:  18.09.2023" data-original-title="13.12.2023 4 пара">
ЗВВБ-2017<strong>[Пз]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Чатченко О.Є.</i>
</div>
</div></div></td><td><div class="cell"><div class="lesson-2 ">

<div data-toggle="popover" title="" data-content="Хмарні технології[Пз]<br>ауд. Дистанц.<br>КІД-41<br>Шикула Олена Миколаївна<br>Додано:  08.09.2023" data-original-title="20.12.2023 4 пара">
ХТ-15<strong>[Пз]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Шикула О.М.</i>
</div>
</div></div></td><td><div class="cell"><div class="lesson-6 ">

<div data-toggle="popover" title="" data-content="Засади відкриття власного бізнесу[Зач]<br>ауд. Дистанц.<br>КІД-41<br>Чатченко Ольга Євгеніївна<br>Додано:  04.12.2023" data-original-title="27.12.2023 4 пара">
ЗВВБ-2017<strong>[Зач]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Чатченко О.Є.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td></tr><tr><th class="headday">Чт</th><th class="headdate"><div>14.12.2023</div></th><th class="headdate"><div>21.12.2023</div></th><th class="headdate"><div>28.12.2023</div></th><th class="headdate"><div>04.01.2024</div></th><th class="headdate"><div>11.01.2024</div></th></tr><tr>                    <th class="headcol">
    <span class="lesson">2 пара</span>
    <span class="start">09:45</span>
    <span class="end">11:20</span>
</th><td><div class="cell"><div class="lesson-2 ">

<div data-toggle="popover" title="" data-content="Паралельні та розподілені обчислення[Пз]<br>ауд. Дистанц.<br>КІД-41<br>Торошанко Ярослав Іванович<br>Додано:  28.11.2023" data-original-title="14.12.2023 2 пара">
ПРО-2017<strong>[Пз]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Торошанко Я.І.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td></tr><tr>                    <th class="headcol">
    <span class="lesson">3 пара</span>
    <span class="start">11:45</span>
    <span class="end">13:20</span>
</th><td><div class="cell"><div class="lesson-2 ">

<div data-toggle="popover" title="" data-content="WEB-технології та   WEB-дизайн[Пз]<br>ауд. 130К<br>КІД-41<br>Гордієнко Катерина Олександрівна<br>Додано:  14.09.2023" data-original-title="14.12.2023 3 пара">
WEB тех.-2016<strong>[Пз]</strong><br>
<strong>ауд. 130К</strong><br>
<i>Гордієнко К.О.</i>
</div>
</div></div></td><td><div class="cell"><div class="lesson-2 ">

<div data-toggle="popover" title="" data-content="WEB-технології та   WEB-дизайн[Пз]<br>ауд. 130К<br>КІД-41<br>Гордієнко Катерина Олександрівна<br>Додано:  14.09.2023" data-original-title="21.12.2023 3 пара">
WEB тех.-2016<strong>[Пз]</strong><br>
<strong>ауд. 130К</strong><br>
<i>Гордієнко К.О.</i>
</div>
</div></div></td><td><div class="cell"><div class="lesson-6 ">

<div data-toggle="popover" title="" data-content="WEB-технології та   WEB-дизайн[Зач]<br>ауд. 130К<br>КІД-41<br>Гордієнко Катерина Олександрівна<br>Додано:  04.12.2023" data-original-title="28.12.2023 3 пара">
WEB тех.-2016<strong>[Зач]</strong><br>
<strong>ауд. 130К</strong><br>
<i>Гордієнко К.О.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td></tr><tr>                    <th class="headcol">
    <span class="lesson">4 пара</span>
    <span class="start">13:30</span>
    <span class="end">15:05</span>
</th><td><div class="cell"><div class="lesson-4 ">

<div data-toggle="popover" title="" data-content="Діагностика та тестування мережної інфраструктури[Лб]<br>ауд. Дистанц.<br>КІД-41<br>Шрам Максим Миколайович<br>Додано:  20.10.2023" data-original-title="14.12.2023 4 пара">
ДТМІ-2018<strong>[Лб]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Шрам М.М.</i>
</div>
</div></div></td><td><div class="cell"><div class="lesson-6 ">

<div data-toggle="popover" title="" data-content="Діагностика та тестування мережної інфраструктури[Зач]<br>ауд. Дистанц.<br>КІД-41<br>Шрам Максим Миколайович<br>Додано:  04.12.2023" data-original-title="21.12.2023 4 пара">
ДТМІ-2018<strong>[Зач]</strong><br>
<strong>ауд. Дистанц.</strong><br>
<i>Шрам М.М.</i>
</div>
</div></div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td></tr><tr><th class="headday">Пт</th><th class="headdate"><div>15.12.2023</div></th><th class="headdate"><div>22.12.2023</div></th><th class="headdate"><div>29.12.2023</div></th><th class="headdate"><div>05.01.2024</div></th><th class="headdate"><div>12.01.2024</div></th></tr><tr>                    <th class="headcol">
    <span class="lesson">1 пара</span>
    <span class="start">08:00</span>
    <span class="end">09:35</span>
</th><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td></tr><tr><th class="headday">Сб</th><th class="headdate"><div>16.12.2023</div></th><th class="headdate"><div>23.12.2023</div></th><th class="headdate"><div>30.12.2023</div></th><th class="headdate"><div>06.01.2024</div></th><th class="headdate"><div>13.01.2024</div></th></tr><tr>                    <th class="headcol">
    <span class="lesson">1 пара</span>
    <span class="start">08:00</span>
    <span class="end">09:35</span>
</th><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td></tr><tr><th class="headday">Нд</th><th class="headdate"><div>17.12.2023</div></th><th class="headdate"><div>24.12.2023</div></th><th class="headdate"><div>31.12.2023</div></th><th class="headdate"><div>07.01.2024</div></th><th class="headdate"><div>14.01.2024</div></th></tr><tr>                    <th class="headcol">
    <span class="lesson">1 пара</span>
    <span class="start">08:00</span>
    <span class="end">09:35</span>
</th><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td><div class="cell">&nbsp;</div></td><td class="closed" data-toggle="tooltip" data-placement="top" title="Виберіть необхідний діапазон дат">&nbsp;</td></tr></tbody></table></div></div></div></div>

</body>
</html>