.practice-container {
    padding-top: 10%;
}

.practice-element {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: var(--ui-color-white);
}

.practice-element:hover {
    color: var(--ui-active-color);
}
