<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/practice.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                <div class="header__logo">Олексій Ковальов</div>  
        
                <nav class="nav">
                    <a id="main" class="nav__link active" href="../index.html">Головна</a>
                    <a id="about" class="nav__link" href="./about.html">Про мене</a>
                    <a id="practic" class="nav__link" href="./practice.html">Пр. роботи</a>
                    <a id="labs" class="nav__link" href="./labs.html">Лаби</a>
                </nav>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="practice-container">
               <a class="practice-element" href="./labs/lab1.html">Лабораторна №1</a>
            </div>
        </main>
        <footer class="footer">
            <div class="container footer__inner">
                <div class="footer__contacts">
                    <a href="tel:+380954296305" class="contacts">+38(095)4296305</a>
                    <a class="contacts">Kyiv</a>
                    <a href="mailto:alexkovalev1488@gmail.com" class="contacts">alexkovalev1488@gmail.com</a>
                </div>

                <div class="footer__socials">
                    <a href="https://t.me/Winky_Kovalev" class="socials" target="_blank">Telegram</a>
                    <a href="https://www.instagram.com/winky_kovalev/" class="socials" target="_blank">Instagram</a>
                    <a href="https://github.com/OleksiiKovalov1488" class="socials" target="_blank">GitHub</a>
                </div>

                <div class="footer__years">
                    <p class="years">Роки навчання</p>
                    <p class="years">2020-2024</p>
                </div>
            </div>
        </footer>
</body>
</html>